/* Impostazioni di base per il body */
body {
	background-image: url(natale.jpg); /* Imposta l'immagine di sfondo */
    background-size: cover;  /* L'immagine coprirà tutta la finestra */
    background-position: center center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    height: 100vh;  /* Imposta l'altezza al 100% della finestra */
    margin: 0;  /* Rimuove i margini di default */
	height: 90vh; /* Imposta l'altezza della pagina uguale alla viewport */
	display: flex; /* Usa il flexbox per il layout */
	justify-content: center; /* Centra orizzontalmente il contenuto */
	align-items: center; /* Centra verticalmente il contenuto */
	font-family: Arial, sans-serif; /* Imposta un font di base */
	background-color: #f0f0f0; /* Colore di sfondo della pagina */
}

/* Impostazioni per il tag h1 */
h1 {
  margin: 0; /* Rimuove il margine predefinito */
  text-align: center; /* Centra il contenuto del titolo */
  display: flex; /* Usa flexbox per il layout del titolo */
  flex-direction: column; /* Posiziona le parole una sotto l'altra */
}

/* Impostazioni per ogni parola all'interno di h1 */
h1 span {
  margin: 5px 0; /* Distanza tra le parole */
}

/* Impostazioni per il link MENU' */
a {
  font-size: 50px; /* Imposta la dimensione del font per ingrandire la parola */
  font-weight: bold; /* Rende la parola in grassetto */
  color: black; /* Colore del testo */
  text-decoration: none; /* Rimuove la sottolineatura dal link */
  display: block; /* Fa in modo che il link sia un blocco e vada a capo */
  margin: 5px 0; /* Distanza tra i link */
}

